/* Login.css */

/* Estilo general del formulario */
form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

/* Título */
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Input y labels */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #29b76e;
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

/* Botón */
button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}

/* Errores */
.form-error {
  color: #ff4d4d;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}

/* Estilo adicional para inputs */
input.error {
  border-color: #ff4d4d;
  box-shadow: 0px 0px 5px rgba(255, 77, 77, 0.5);
}

/* Fondo general de la página */
body {
  background-color: #f7f9fc;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

